# This notebook is a playground to learn data analysis. We will use cricket data that we scraped using the PyCricket.py code from espn cricinfo.

## Let's read the Test players data from a csv that we already downloaded. To read from the csv file we will use the read_csv module from the pandas library. Pandas is an open source library written in python for easier maniupulation of data.

In [2]:
import pandas as pd

### One of the key features of pandas is that it provides DataFrame object.  DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects.

In [3]:
df = pd.read_csv("Data\TestCricket_PlayerStats.csv")
df.head()

,Player,Country,StartYear,EndYear,Matches,Innings,NO,Runs,Highest,Average,100s,50s,0s
0,SR Tendulkar,INDIA,1989,2013,200,329,33,15921,248*,53.78,51,68,14
1,RT Ponting,AUS,1995,2012,168,287,29,13378,257,51.85,41,62,17
2,JH Kallis,SA,1995,2013,166,280,40,13289,224,55.37,45,58,16
3,R Dravid,INDIA,1996,2012,164,286,32,13288,270,52.31,36,63,8
4,KC Sangakkara,SL,2000,2015,134,233,17,12400,319,57.40,38,52,11